<div id="<%= dom_id medication %>">
  <p>
    <strong>Name:</strong>
    <%= medication.name %>
  </p>

  <p>
    <strong>Dosage:</strong>
    <%= medication.dosage %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= medication.schedule %>
  </p>

</div>
